
.title-big {
	color: rgb(128, 128, 128);
	font-size: 36px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-medium {
	color: rgb(128, 128, 128);
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#card-wrapper {
	display: flex;
}

.grand-total {
	height: 38px;
	background-color: #ddd;
	padding: 5px;
}

#card-container {
	flex: 0 0 100%;
	border: 0px #ccc solid;
}

#card-container div {
	width: 300px;
	margin: 5px;
	display: inline-block;
	text-align: justify;
	vertical-align: top;
}

.green-btn {
	border: 1px solid rgb(67, 164, 34);
	background: rgb(67, 164, 34);
	color: #fff;
	width: 200px;
	height: 50px;
	border-radius: 5px 5px;
}

